@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#shadow {
  box-shadow: 100px 100px lightblue; 

}



.forgot {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  /* color: #444; */
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.forgot:hover {
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  color: white;
}

body,
input {
  font-family: "Poppins", sans-serif;
  /* background-image: linear-gradient(); */

}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;

}

.forms-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-color: blanchedalmond; */
  /* background-image: url('https://cdn.pixabay.com/photo/2017/10/27/15/12/geeks-2894621_960_720.jpg'); */
  /* background-repeat: fit; */
  background-size: cover;
  /* opacity: 0.5; */
  /* background-repeat: no-repeat; */
  /* background-image:url(); */
  background-image:url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
}


.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  /* box-shadow: 5px 10px  #5491c9; */
  /* background: linear-gradient(to bottom, #ffffff, #f2f2f2); */
  box-shadow: 2px 10px 30px rgba(234,217,233.071);
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  /* border-radius: 20px; */
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;

}

.title {
  font-size: 4.2rem;
  /* color: #444;
 */
  color: white;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: lora;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;

}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

/* .social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
} */

.b {
  width: 19rem;
  background-color: #3d7be6;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

.b:hover {
  background-color: #0d63f7;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
} */

/* .image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
} */

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

/* .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
} */

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.b.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

/* .right-panel .image,
.right-panel .content {
  transform: translateX(800px);
} */

/* ANIMATION */

/* .container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
} */

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 50%;
    /* transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out; */
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  /* .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  } */

  /* .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  } */
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}


#reload_href {
  display: none;
}


.captcha-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.captcha-section {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 10px;
  width: 50%;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.captcha-section:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

canvas#canv {
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px;
  height: 55px;
  /* width: 60px; */
  /* margin-left: 1rem; */
}

/* .im {
  margin-left: 20px;
  display: flex;
  flex-direction: #rap;
  align-items: center;
  border-radius: 15px;
} */

/* .im img {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 50%;
  height: auto;
  margin-top: 100px;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  filter: brightness(90%);
  
}

.im img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
} */

/* .im  {
  font-size: 28px;
  color: #333;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  
} */

/* .btn-captcha {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10 px 20px;
  margin-left: 20px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
} */


@media only screen and (max-width: 768px) {
  .captcha-name {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }



  .captcha-section {
    width: 100%;
  }


}


/* //Forget Password */




#rap {
  background-color: rgba(20, 120, 200, 0.6);
  color: #fff;
  text-align: center;
  padding: 2em 2em 0.5em;
  width: 90%;
  margin: 2em auto;
  border-radius: 5px;
}

#rap h1 {
  font-size: 2.5em;
}

#rap .form-group {
  margin: 0.5em 0;
}

#rap .form-group label {
  display: block;
  color: #fff;
  text-align: left;
  font-weight: 600;
}

#rap .form-group input,
#rap .form-group button {
  display: block;
  padding: 0.5em 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #555;
  color: #eee;
}

#rap .form-group input:focus,
#rap .form-group button:focus {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 1em 0.5em;
  animation: pulse 1s infinite ease;
}

#rap .form-group button {
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 800;
  cursor: pointer;
  margin-top: 2em;
  padding: 1em;
}

#rap .form-group button:hover,
#rap .form-group button:focus {
  background-color: #fff;
}

#rap .form-group button.is-loading::after {
  animation: spinner 500ms infinite linear;
  content: "";
  position: absolute;
  margin-left: 2em;
  border: 2px solid #000;
  border-radius: 100%;
  border-right-color: transparent;
  border-left-color: transparent;
  height: 1em;
  width: 4%;
}

#rap .footer h5 {
  margin-top: 1em;
}

#rap .footer p {
  margin-top: 2em;
}

#rap .footer p .symbols {
  color: #444;
}

#rap .footer a {
  color: inherit;
  text-decoration: none;
}

.information-text {
  color: white;
}

@media screen and (max-width: 320px) {
  #rap {
    padding-left: 1em;
    padding-right: 1em;
  }

  #rap h1 {
    font-size: 1.5em !important;
  }
}

@media screen and (min-width: 900px) {
  #rap {
    width: 100%;
  }
}


.error {
  display: flex;
  display: inline-block;
  width: 200px;
  color:yellow;
  float: right;
  margin-top: -61px;
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
}

.errorr {
  color: yellow;
  font-weight: bold;
/* margin-top: -61px; */
position: relative;
margin-left: 40px;
text-align: left;
}

.error.ru {
  margin-left: 19px;
}

.errorr.pr {
  margin-left: 15px;
}











.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}